<!DOCTYPE html>
<html>
<head>
    <title>Project 5/6</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
        });
    </script>
    <script src="/js/common.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        body{padding-top:70px;}

        #GamesPageImg {
            min-width:100px;
            min-height:100px;
            max-width:100px;
            max-height:100px;
        }
        .productbox {
            background-color:#ffffff;
        	padding:10px;
        	margin-bottom:15px;
        }
        #game_name{
            min-width:200px;
            min-height:30px;
            max-width:200px;
            max-height:30px;
            margin-bottom: 18px;
        }
        .producttitle {
            font-weight:bold;
        	padding:5px 0 5px 0;
        }
        .productprice {
        	border-top:1px solid #dadada;
        	padding-top:5px;
        }
        #button1 {
            margin-bottom: 10px;
        }
    </style>
  </head>
  <body>

<!------------------navbar------------------->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Steen</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
          <li><a href="/games">Producten</a> </li>
          <!--<li><a href="/wishlist">Wenslijst</a> </li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
          #if($correctinfo)
              #if($admin)
                  <li style="cursor: default"><a href="/user/me">Ingelogd als <strong>$username</strong></a></li>
                <li><a href="/admin"><span class="glyphicon glyphicon-wrench"></span> Administrator</a></li>
              #else
                  <li style="cursor: default"><a href="/user/me">Ingelogd als $username</a></li>
              #end
            <li><a onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Uit</a></li>
          #else
            <li><a href="/p_reg"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
            <li><a style="cursor:pointer" data-toggle="modal" data-target="#login_modal"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
          #end
      </ul>
    </div>
  </nav>



<!-----------------------template html------------------------------>

    <div class="container">
      #parse($login_modal)
      #parse($template)

    </div>
  </body>
</html>