<head>
    <meta charset="UTF-8">
    <title>Gebruikers</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<h1>Gebruikers</h1>
<div class='col-md-9'>
    <table class="table" id="usersTable">
        <tr>
            <th>Gebruikersnaam</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Geboortedatum</th>
            <th>Administrator</th>
        </tr>
    </table>
    <a href="/admin"><button type="button" class="btn btn-default btn-lg">Terug</button></a>
</div>

<script type="text/javascript">
    function getJson() {
        $.ajax({
            type: 'POST',
            url: "/admin/users.json",
            dataType: "json",
            success: filltable,
            error: function () {
                console.log("Incorrect or missing JSON")
            }
        });
    }

    function filltable(data) {
        var json = data;
        var tr = [];
        $.each(json, function (i, item) {
            tr = $('<tr/>');
            tr.append("<td>" + item.username + "</td>");
            tr.append("<td>" + item.name + "</td>");
            tr.append("<td>" + item.surname + "</td>");
            tr.append("<td>" + item.email + "</td>");
            tr.append("<td>" + item.birth_date + "</td>");
            tr.append("<td>" + item.admin + "</td>");
            $('table').append(tr);
        })
    }

    $(function () {
        getJson()
    });
</script>
</body>