<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<table id="gamesTable">
    <tr>
        <!--<th>ID</th>-->
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Platform</th>
        <th>Publisher</th>
        <th>Stock</th>
    </tr>
</table>

<script type="text/javascript">
    function getJson() {
        $.ajax({
            type: 'GET',
            url: "/games.json",
            dataType: "json",
            success: filltable,
            error: function () {
                console.log("FUK DEZE JSON")
            }
        });
    }

    function filltable(data) {
        var json = data;
        var tr = [];
        $.each(json, function (i, item) {
            tr = $('<tr/>');
            tr.append("<td><img src='" + item.games_image + "'/></td>");
            tr.append("<td>" + item.games_name + "</td>");
            tr.append("<td>" + item.games_price + "</td>");
            tr.append("<td>" + item.games_genre + "</td>");
            tr.append("<td>" + item.games_platform + "</td>");
            tr.append("<td>" + item.games_publisher + "</td>");
            tr.append("<td>" + item.games_stock + "</td>");
            $('#gamesTable').append(tr);
        })
    }

    $(function () {
        getJson()
    });
</script>