<head>

</head>
<body>
<form class="navbar-form navbar-left">
    <div class="form-group">
        <input id="search" name="search" class="form-control" type="text" placeholder="Search">
        <input id="submitbutton" type="button" value="Submit" onclick="updateTable($('#search').val())">
    </div>
</form>


<!---products--->
<h2 class="text-center">Producten</h2>
<hr>
<div id="ProductContainer" class="container">

</div>
<!------ End products ----->


<script type="text/javascript">
    var input = document.querySelector('input[type= text][id = "search"]');

    $(function () {
        updateTable()
    });

    function updateTable(urlAppend) {
        console.log(urlAppend);
        var stdURL = "/games.json";
        var productContainer = $('#ProductContainer');

        if (urlAppend != null) {
            getJson(stdURL+"?search="+urlAppend);
        } else {
            getJson(stdURL);
        }
    }

    function getJson(url) {
        $.ajax({
            type: 'GET',
            url: url,
            dataType: "json",
            success: filltable,
            error: function () {
                console.log("FUK DEZE JSON")
            }
        });
    }
    function filltable(data) {
        var json = data;
        var content = [];
        var productContainer = $('#ProductContainer');
        productContainer.empty();
        $.each(json, function (i, item) {
            console.log(item);

            content = $("<div class='col-md-3 column productbox' id='productbox'>");
            content.append("<div><img src='" + item.games_image + "'  class='img-responsive'>");
            content.append("<div class='caption'>");
            content.append("<h5 id='game_name'>" + item.games_name + "</h5>");
            content.append("<p>Prijs: " + item.games_price + ",-</p>");
            content.append("<p><a href='#' class='btn btn-success' role='button' id='button1'>Bekijken</a>    <a href='#' class='btn btn-primary role='button'><span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'></span>+ winkelmand</a></p>");
            content.append("</div></div></div>");
            productContainer.append(content);
        })
    }

</script>