<div class="container">
    <div class="row">
        <!----form begin--->
        <form class="form-filter">
            <div class="col-md-3"> <h2 class="text-center">Producten</h2></div>
            <div class="form-group col-md-3">
                <input id="search" name="search" class="form-control" type="text" placeholder="Search">
                <input id="submitbutton" type="submit" value="Submit">
            </div>
            <div class="form-group col-md-6">

                <label class="col-md-3">Sorteren op</label>
                <div class="col-md-3">
                    <select id="sortoption">
                        <option value="None">Niet sorteren</option>
                        <optgroup label="Prijs">
                            <option value="P_ASC">Laag naar hoog</option>
                            <option value="P_DESC">Hoog naar laag</option>
                        </optgroup>
                        <optgroup label="Naam">
                            <option value="N_ASC">A/Z</option>
                            <option value="N_DESC">Z/A</option>
                        </optgroup>
                    </select>
                </div>

                <label class="col-md-3">Filteren op</label>
                <div class="col-md-3">
                    <select id="filteroption">
                        <option value="None">Niet filteren</option>
                        <optgroup label="Genre">
                        </optgroup>
                        <optgroup label="Platform">
                        </optgroup>
                    </select>
                </div>
            </div>
        </form>
        <a href="javascript:history.back()"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-left"></span>Terug</button></a>
        <!-----form end ---->
    </div>
    <hr>
    <div id="ProductContainer" class="container">

    </div>
</div>

<!---products--->


<!------ End products ----->

<script type="text/javascript">
    var sortOption = null;
    var filterOption = null;
    var input = document.querySelector('input[type= text][id = "search"]');
    var tableJSON = null;

    $(function () {
        $('.form-filter').on("submit", function(e) {
            e.preventDefault();
            updateTable($('#search').val())
        });
        $('#sortoption').change(function(){ checkSort() });
        $('#filteroption').change(function () { checkFilter() });
        updateDropdowns();
        checkSort();
        updateTable();
    });

    function checkKeyAndRun(event) {
        if (e.keyCode == 13) {
            updateTable($('#search').val());
            return false;
        }
        return false;
    }

    function checkSort() {
        var optObj = $('#sortoption').find(":selected");
        var opt = optObj.val();
        if (opt == "None") {
            sortOption = null;
        } else if (opt == "P_ASC") {
            sortOption = "games.games_price";
        } else if (opt == "P_DESC") {
            sortOption = "games.games_price DESC";
        } else if (opt == "N_ASC") {
            sortOption = "games.games_name";
        } else if (opt == "N_DESC") {
            sortOption = "games.games_name DESC";
        }
        updateTable()
    }

    function checkFilter() {
        var optObj = $('#filteroption').find(":selected");
        var opt = optObj.val();
        if (opt == "None") {
            filterOption = null;
        } else if (optObj.parent().attr('label') == "Genre") {
            filterOption = "games.games_genre=" + "'" + opt + "'";
        } else if (optObj.parent().attr('label') == "Platform") {
            filterOption = "games.games_platform=" + "'" + opt + "'";
        }
        updateTable();
    }

    function updateDropdowns() {
        checkSort();
        var dict = { 'selector': 0};
        getJson("/api/product/filtering.json", dict, fillDropdownsOuter(0));
        dict = { 'selector': 1};
        getJson("/api/product/filtering.json", dict, fillDropdownsOuter(1));
    }

    function fillDropdownsOuter(selector) {
        function fillDropdowns(json) {
            var dropdown = $('#filteroption');
            var group = null;
            if (selector == 0) {
                group = dropdown.find("optgroup[label='Genre']")
            } else if (selector == 1) {
                group = dropdown.find("optgroup[label='Platform']")
            }
            group.empty();
            console.log(json);
            $.each(json, function (i, item) {
                if (selector == 0) {
                    group.append("<option>" + item.games_genre + "</option>")
                } else if (selector == 1) {
                    group.append("<option>" + item.games_platform + "</option>")
                }
            })
        }
        return fillDropdowns
    }

    function updateTable(searchAppend) {
        var stdURL = "/api/product/games.json";
        var searchDict = {
            'search': (searchAppend !== undefined) ? searchAppend : null,
            'order': sortOption,
            'filter': filterOption
        };
        getJson(stdURL, searchDict, filltable);
    }

    function filltable(json) {
        var content = [];
        var productContainer = $('#ProductContainer');
        console.log(json);

        productContainer.empty();
        $.each(json, function (i, item) {
            content = $("<div class='col-md-3 column productbox' id='productbox'>");
            content.append("<div><img id='GamesPageImg' src='" + item.games_image + "'  class='img-responsive'>");
            content.append("<div class='caption'>");
            content.append("<h5 id='game_name'>" + item.games_name + "</h5>");
            content.append("<p>Prijs: " + item.games_price + "</p>");
            content.append("<p><a href='/games/bekijken?id="+ item.games_id +"' class='btn btn-success' role='button' id='button1'>Bekijken</a>    <a href='#' class='btn btn-primary role='button'><span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'></span>+ winkelmand</a></p>");
            content.append("</div></div></div>");
            productContainer.append(content);
        })
    }

    function getJson(url, dict, callback) {
        console.log(url);
        $.ajax({
            type: 'POST',
            url: url,
            data: dict,
            dataType: "json",
            success: function (data) {
                callback(data)
            },
            error: function () {
                console.log("Incorrect or missing JSON")
            }
        });
    }
</script>