<div class="col-lg-12">
    <a href="javascript:history.back()"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Terug</button></a>
    <div id="ProductContent" class="jumbotron">
        <h1 id='ProductName' class='text-center'>Undefined</h1>
        <div class="row">
            <img id='ProductImage' src=''>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            <div class="coll-md-1">
                <button type='button' id='BuyButton' class='btn btn-primary' href='#'><span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'/>+Koop nu</button>

            </div>
            <div class="col-md-1">
                <button type='button' id='WishButton' class='btn btn-success' href='#'><span class='glyphicon glyphicon-star' aria-hidden='true'/>+Wishlist</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        updateData();
    });

    function updateData() {
        var stdURL = "/api/product/view.json";
        var searchAppend = getCurrentUrlParam("id");
        console.log(searchAppend);

        var searchDict = {
            'id': (searchAppend != null || searchDict !== undefined) ? searchAppend : null
        };
        getJson(stdURL, searchDict);
    }

    function getCurrentUrlParam(param) {
            var results = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
            if (results==null){
                return null;
            }
            else{
                return results[1] || 0;
            }
            return null;
        }

    function getJson(url, dict) {
        console.log(url);
        $.ajax({
            type: 'POST',
            url: url,
            data: dict,
            dataType: "json",
            success: filldata,
            error: function () {
                console.log("Incorrect or missing JSON")
            }
        });
    }

    function filldata(json) {
        $.each(json, function (i, item) {
            $("#ProductName").html(item.games_name);
            $("#ProductImage").attr('src', item.games_image);
            //$('#BuyButton').attr('href', ...); TODO: Had to be implemented yet
            //$('#WishButton').attr('href', ...); TODO: Has to be implemented yet
        })
    }
</script>