<div class="col-lg-12">
    <a href="javascript:history.back()"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Terug</button></a>
    <div id="ProductContent" class="jumbotron">

        <form method = "POST" action ="/wishlist">
            <input id="addtowishList" type="button" value="addto" onclick="">
            <button type ="submit"/>>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        updateData();
    });

    function updateData() {
        var stdURL = "/games/bekijken.json";
        var searchAppend = getCurretUrlParam("id");

        if(searchAppend != null){
            getJson(stdURL + "?id=" + searchAppend);
        }
    }

    function getCurretUrlParam(param) {
            var results = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
            if (results==null){
                return null;
            }
            else{
                return results[1] || 0;
            }
            return null;
        }

    function getJson(url) {
        console.log(url);
        $.ajax({
            type: 'POST',
            url: url,
            dataType: "json",
            success: filldata,
            error: function () {
                console.log("Incorrect or missing JSON")
            }
        });
    }

    function filldata(data) {
        var json = data;
        var content = [];
        var productContent = $('#ProductContent');
        productContent.empty();

        $.each(json, function (i, item) {
            content = $("<h1 id='ProductName' class='text-center'>" + item.games_name + "</h1>");
            content.append("<div class='row'>");
            content.append("<center><img id='ProductImage' src='" + item.games_image  + "' class='img-responsive'></center>");
            content.append("<div class='col-lg-2 col-lg-offset-4 col-md-offset-4 col-md-2 col-sm-offset-3 col-sm-3 col-xs-offset-3 col-xs-3'/>");
            content.append("<div class='col-lg-2 col-md-6 col-sm-6'>");
            content.append("</div><center><p id='ProductOmschrijving'>Omschrijving</p></center>");
            content.append("</div>");
            content.append("<p><a class='btn btn-primary btn-lg' href='#' role='button'><span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'/>+Koop nu</a></p>");
            content.append("<p><a class='btn btn-primary btn-lg' href='#' role='button'>Add to wishlist</a></p>");
            productContent.append(content);
        })
    }
</script>