#if ($username)
  Welcome $username
#else
#end
<h1>Hello From Afar</h1>
<p>I like big cakes and I cannot lie</p>
<p><a href='/cake' >Check out my favorite cake photos here.</a></p>
<p><a href='/form' >Form</a></p>
<p><a href='/ly' >Leap year</a></p>
<p><a href='/w_home' >A welcome page</a></p>
<p><a href='/p_home' >Project test page</a></p>
