#if($admin)
    <h1>Welcome $username</h1>
    <p>Admin</p>
    <div></div>
#elseif($username)
    <h1>Welcome to Steen, $username</h1>
    <p>Bob is love, Bob is life.<br> &nbsp &nbsp -Bob Boss</p>
#else
    <h1>Welcome to Steen. Registreer je nu!</h1>
    <p>Bob is love, Bob is life.<br> &nbsp &nbsp -Bob Boss</p>
#end