<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<h1>Wenslijst games</h1>
<div class='col-md-9'>
    <table class="table" id="wishlistTable">
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Console</th>
            <th>Delete</th>
        </tr>
    </table>
    <ul id="deleteList"></ul>
    <input id="deleteButton" type="button" onclick="deleterows()">
    <input id="deleteButton1" type="button" onclick="deleteSQL()">
</div>


<script>
    $(document).ready(function () {
        console.log("Check1")
        updateData();
    });



    function updateData() {
        var stdURL = "/api/wishlist.json";
        getJson(stdURL);// + "?id=" + searchAppend);

    }

    function getJson(url) {
        //console.log(url);
        $.ajax({
            type: 'POST',
            url: url,
            dataType: "json",
            success: filltable,
            error: function () {
                console.log("Incorrect or missing JSON")
            }
        });
    }

    function deleterows() {
        var table = $('table');
        var dict = {};
        var i = 0;
        $('[id = chk]:checked').each(function () {
            console.log($(this).val());
            $(this).closest('tr').remove();
            //$('[id = deleteList]').append($(this).val());
            alert("You checked this box");
            var key = i.toString();
            console.log("The key = " + key);
            console.log("The value = " + $(this).val());
            dict[key] = ($(this).val());
            i++
        });
        deleteSQL(dict)
    }
    function deleteSQL(dict) {
        var dict = dict;
        $.ajax({
            type: "POST",
            url: "/wishlist/delete",
            data: dict,
            success: function (data) {
                alert(data)
            }
        });
    }

    function filltable(data) {
        var json = data;
        var tr = [];
        $.each(json, function (i, item) {
            tr = $('<tr/>');
            tr.append("<input type='hidden' id='" + item.games_id + "' value='" + item.games_id + "'/>");
            tr.append("<td>" + item.games_name + "</td>");
            tr.append("<td>" + item.games_price + "</td>");
            tr.append("<td>" + item.games_platform+ "</td>");
            tr.append("<td><input type = 'checkbox'  value='"+ item.games_id + "' id = 'chk'" + item.games_id + "'/></td>");
            $('table').append(tr);
        })
    }
</script>